In [5]:
import pandas as pd

In [6]:
dataset=pd.read_csv("insurance_pre.csv")

In [7]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [8]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [9]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [10]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [11]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [12]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [13]:
dependent=dataset[['charges']]

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =train_test_split(independent, dependent ,test_size=0.30,random_state=0)

In [17]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(criterion='mse',max_features='auto',n_estimators=10)
regressor.fit(x_train,y_train)

C:\Users\SINDHI~1\AppData\Local\Temp/ipykernel_17208/1359534215.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train,y_train)

RandomForestRegressor(n_estimators=10)

In [18]:
y_pred=regressor.predict(x_test)

In [19]:
from sklearn.metrics import r2_score 
r_score=r2_score(y_test,y_pred)

In [20]:
r_score

0.8446897393177992

In [21]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(criterion='mse',max_features='auto',n_estimators=100)
regressor.fit(x_train,y_train)

C:\Users\SINDHI~1\AppData\Local\Temp/ipykernel_17208/3521754265.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train,y_train)

RandomForestRegressor()

In [22]:
y_pred=regressor.predict(x_test)

In [23]:
from sklearn.metrics import r2_score 
r_score=r2_score(y_test,y_pred)

In [24]:
r_score

0.8582064953815349

In [25]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(criterion='mse',max_features='sqrt',n_estimators=10)
regressor.fit(x_train,y_train)

C:\Users\SINDHI~1\AppData\Local\Temp/ipykernel_17208/2349163578.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train,y_train)

RandomForestRegressor(max_features='sqrt', n_estimators=10)

In [26]:
y_pred=regressor.predict(x_test)

In [27]:
from sklearn.metrics import r2_score 
r_score=r2_score(y_test,y_pred)

In [28]:
r_score

0.8535877981749798

In [29]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(criterion='mse',max_features='sqrt',n_estimators=100)
regressor.fit(x_train,y_train)

C:\Users\SINDHI~1\AppData\Local\Temp/ipykernel_17208/2079787657.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train,y_train)

RandomForestRegressor(max_features='sqrt')

In [30]:
y_pred=regressor.predict(x_test)

In [31]:
from sklearn.metrics import r2_score 
r_score=r2_score(y_test,y_pred)

In [32]:
r_score

0.8722476146127074

In [33]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(criterion='mse',max_features='log2',n_estimators=10)
regressor.fit(x_train,y_train)

C:\Users\SINDHI~1\AppData\Local\Temp/ipykernel_17208/565463575.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train,y_train)

RandomForestRegressor(max_features='log2', n_estimators=10)

In [34]:
y_pred=regressor.predict(x_test)

In [35]:
from sklearn.metrics import r2_score 
r_score=r2_score(y_test,y_pred)

In [36]:
r_score

0.8584178716708083

In [37]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(criterion='mse',max_features='log2',n_estimators=100)
regressor.fit(x_train,y_train)

C:\Users\SINDHI~1\AppData\Local\Temp/ipykernel_17208/1852979443.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train,y_train)

RandomForestRegressor(max_features='log2')

In [38]:
y_pred=regressor.predict(x_test)

In [39]:
from sklearn.metrics import r2_score 
r_score=r2_score(y_test,y_pred)

In [40]:
r_score

0.8706412205393324

In [41]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(criterion='mae',max_features='auto',n_estimators=10)
regressor.fit(x_train,y_train)

C:\Users\SINDHI~1\AppData\Local\Temp/ipykernel_17208/3826914788.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train,y_train)

RandomForestRegressor(criterion='mae', n_estimators=10)

In [42]:
y_pred=regressor.predict(x_test)

In [43]:
from sklearn.metrics import r2_score 
r_score=r2_score(y_test,y_pred)

In [44]:
r_score

0.8205612752559868

In [69]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(criterion='mae',max_features='auto',n_estimators=100)
regressor.fit(x_train,y_train)

C:\Users\SINDHI~1\AppData\Local\Temp/ipykernel_17208/1983458206.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train,y_train)

RandomForestRegressor(criterion='mae')

In [70]:
y_pred=regressor.predict(x_test)

In [71]:
from sklearn.metrics import r2_score 
r_score=r2_score(y_test,y_pred)

In [72]:
r_score

0.850151429569389

In [49]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(criterion='mae',max_features='sqrt',n_estimators=10)
regressor.fit(x_train,y_train)

C:\Users\SINDHI~1\AppData\Local\Temp/ipykernel_17208/2988607571.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train,y_train)

RandomForestRegressor(criterion='mae', max_features='sqrt', n_estimators=10)

In [50]:
y_pred=regressor.predict(x_test)

In [51]:
from sklearn.metrics import r2_score 
r_score=r2_score(y_test,y_pred)

In [52]:
r_score

0.8500750883670041

In [53]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(criterion='mae',max_features='sqrt',n_estimators=100)
regressor.fit(x_train,y_train)

C:\Users\SINDHI~1\AppData\Local\Temp/ipykernel_17208/2611393451.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train,y_train)

RandomForestRegressor(criterion='mae', max_features='sqrt')

In [54]:
y_pred=regressor.predict(x_test)

In [55]:
from sklearn.metrics import r2_score 
r_score=r2_score(y_test,y_pred)

In [56]:
r_score

0.8717456643495153

In [57]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(criterion='mae',max_features='log2',n_estimators=10)
regressor.fit(x_train,y_train)

C:\Users\SINDHI~1\AppData\Local\Temp/ipykernel_17208/1280745714.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train,y_train)

RandomForestRegressor(criterion='mae', max_features='log2', n_estimators=10)

In [58]:
y_pred=regressor.predict(x_test)

In [59]:
from sklearn.metrics import r2_score 
r_score=r2_score(y_test,y_pred)

In [60]:
r_score

0.8543698071729846

In [61]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(criterion='mae',max_features='log2',n_estimators=100)
regressor.fit(x_train,y_train)

C:\Users\SINDHI~1\AppData\Local\Temp/ipykernel_17208/3331481571.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train,y_train)

RandomForestRegressor(criterion='mae', max_features='log2')

In [62]:
y_pred=regressor.predict(x_test)

In [63]:
from sklearn.metrics import r2_score 
r_score=r2_score(y_test,y_pred)

In [64]:
r_score

0.8736539550478307

In [84]:
import pickle #  The import statement is used  to save a model
filename="finalized_model_random_Forest.sav"

In [85]:
pickle.dump(regressor,open(filename,'wb'))

In [92]:
loaded_model=pickle.load(open("finalized_model_random_Forest.sav",'rb'))
result=loaded_model.predict([[61,29.070,0,0,1]])

In [93]:
result

array([28286.376808])